
</div>
<div class="footer-padding"></div>
  <div class="footer" style="background-color: #F94C66;">

    <button style="border-radius: 50px;  border-color: white;margin-top:10px;background-color:antiquewhite; " type="submit" class="btn btn-danger"> <a   href="https://www.w3schools.com/whatis/"  style="color:#F94C66 ;  " class="a1">www.WebDevelopment.com</a> </button>
    
  </div>
</div>

<script src="https://kit.fontawesome.com/e5d9f44454.js" crossorigin="anonymous"></script>
</body>
</html>
